In [1]:
import pandas as pd

In [5]:
covid = pd.read_csv("./data/Covid19SidoInfState.csv")
covid.head()

,seq,stdDay,gubun,gubunCn,gubunEn,deathCnt,incDec,isolClearCnt,qurRate,defCnt,isolIngCnt,overFlowCnt,localOccCnt,createDt,updateDt
0,23797,2023년 04월 14일 00시,검역,隔離區,Lazaretto,16.0,5.0,NaN,-,17839.0,NaN,5.0,0.0,2023-04-14 00:03:39.0,NaN
1,23796,2023년 04월 14일 00시,제주,济州,Jeju,273.0,115.0,NaN,57977,393179.0,NaN,1.0,114.0,2023-04-14 00:03:39.0,NaN
2,23795,2023년 04월 14일 00시,경남,庆南,Gyeongsangnam-do,1956.0,377.0,NaN,56443,1851625.0,NaN,0.0,377.0,2023-04-14 00:03:39.0,NaN
3,23794,2023년 04월 14일 00시,경북,庆北,Gyeongsangbuk-do,2097.0,366.0,NaN,54559,1418794.0,NaN,0.0,366.0,2023-04-14 00:03:39.0,NaN
4,23793,2023년 04월 14일 00시,전남,全南,Jeollanam-do,992.0,378.0,NaN,55711,1012666.0,NaN,0.0,378.0,2023-04-14 00:03:39.0,NaN

In [10]:
seoul_data = covid.loc[covid.gubun == "서울"]
seoul_data.head()

,seq,stdDay,gubun,gubunCn,gubunEn,deathCnt,incDec,isolClearCnt,qurRate,defCnt,isolIngCnt,overFlowCnt,localOccCnt,createDt,updateDt
17,23780,2023년 04월 14일 00시,서울,首尔,Seoul,6405.0,3011.0,NaN,63906,6025266.0,NaN,0.0,3011.0,2023-04-14 00:03:38.0,NaN
36,23761,2023년 04월 13일 00시,서울,首尔,Seoul,6405.0,2817.0,NaN,63874,6022255.0,NaN,1.0,2816.0,2023-04-13 06:20:00.0,NaN
55,23742,2023년 04월 12일 00시,서울,首尔,Seoul,6403.0,3498.0,NaN,63844,6019438.0,NaN,0.0,3498.0,2023-04-12 03:41:26.0,NaN
74,23723,2023년 04월 11일 00시,서울,首尔,Seoul,6400.0,3488.0,NaN,63807,6015940.0,NaN,0.0,3488.0,2023-04-11 00:12:17.0,NaN
93,23704,2023년 04월 10일 00시,서울,首尔,Seoul,6396.0,828.0,NaN,63770,6012452.0,NaN,0.0,828.0,2023-04-10 00:14:20.0,NaN

In [ ]:
ymd = ["year", "month", "day"]
for n in ymd:
    seoul_data[n] = seoul_data.stdDay

In [11]:
seoul_data.stdDay[0]

KeyError: 0